@page
@model RazorPizzeria.Pages.Checkout.ThankYouModel
@{
    ViewData["Title"] = "ThankYou";
}

<h1>ThankYou</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
